<link rel="stylesheet" href="./footer.css">
        <div id="end-of-page">
            <div>
                
            ABOUT | LEGAL | COPYRIGHT &copy | ALL RIGHTS RESERVED | DEVELOPED BY GD 

            </div>  

        </div>