<head>
    <link rel="stylesheet" href="/header.css">
</head>
<header>
    <div id="header-container">
        <div class="header-flex-item">
            <a href="/">
                <h3>Home</h3>
            </a>

        </div>
        <div class="header-flex-item">
            <a href="/personal">
                <h3>Personal</h3>
            </a>

        </div>
        <div class = "header-flex-item">
            <a href="/shopping">
                <h3>Shopping</h3>
            </a>

        </div>
        <div class ="header-flex-item">
            <a href="/professional">
                <h3>Professional</h3>
            </a>

        </div>

    </div>

</header>